.carousel{
height: 45em;
 
    margin-right: 3em;
    margin-left: 3em;
    margin-bottom: 6em;
}
.ec-box {
    margin-bottom: 20px;
    border: solid 1px #eee;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all .25s ease;

}
.ec-box-header {
    background-color: #f5f5f5;
    padding: 5px;
    font-weight: 600;
    text-align: center;
}
.ec-box img {
    display: block;
    margin: 0 auto;
}
.ec-box-footer {
    background-color: #f5f5f5;
    padding: 5px;
    overflow: hidden;
    margin-top: 10px;
}
btn-ar.btn-success {
    color: #fff;
    background: linear-gradient(to bottom, #02c66c 5%, #02ad5e 100%);
	background-color: #02c66c;
    border: 1px solid #02ad5e;
}
.btn-ar {
    border-radius: 2px;
    font-size: 14px;
}
.ec-box-footer .label {
    font-size: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    margin-bottom: 0;
}
.label-primary {
    background-color: #0099da;
}
.label {
    text-shadow: none;
    font-family: "Open Sans";
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.ec-box-header a {
    color: #E41B17;
    text-decoration: none;
}