/*.os
{
	background:#333;
	color:white;
	margin-bottom:10px;
	padding:10px;
}
.new
{
	background:#00f;
	color:white;
	margin-bottom:10px;
	padding:10px;
	
}
.warning
{
    
	color:#f00;
	font-weight:bold;
	margin-bottom:10px;
	padding:10px;
	font-size:25px;
}
.product
{
	padding:10px;
	background:#333;
	color:#fff;
	margin-bottom:10px;
	min-height:100px;
}
*/
.body
{
	padding-top:70px;
	height:6000px;
	
}
h1, h2, h3, h4 , h5,.lead
{
	font-family: 'Droid Sans', sans-serif;
}
/************** start overriding BootStraB **********/

/* Active Link */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover,
 .navbar-inverse .navbar-nav > .active > a:focus
 {
	 background-color:#E41B17;
 }
 /* Navpar Link */
 .navbar-inverse .navbar-nav > li > a
 {
	 color:#BBB;
	 padding-top:25px;
	padding-bottom:10px;
	font-size:16px;
 }
 
 /* Navpar Brand */
 .navbar-inverse .navbar-brand
 {
	color:#BBB; 
	padding-top:25px;
	padding-bottom:20px;
	
 }
 
 .navbar-inverse .navbar-brand span
 {
	color:#E41B17; 
	
	
 }
 
 
 /* drop down menue */
 .dropdown-menu
 {
	 background-color:#333;
	 border-top:3px solid #E41B17;
	 min-width:200px;
	 
	 
 }
 
 .navbar-right .dropdown-menu
 {
	  left:0;
	 right:auto;
 }
 .dropdown-menu > li > a
 {
	 color:#FFF;
	 padding:6px 20px;
 }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
	background-color:#E41B17;
	color:#fff;
	padding-left:25px;
}
.dropdown-menu .divider
{
	background-color:#982e2e;
}
.navpar-toggle
{
	margin-top:18px
}

.navbar-right
{
	margin-right:100px;
}
/* carsual */
.carousel-indicators
{
	bottom:0;
}
.carousel-caption
{
	bottom:70px;
	background:rgba(3,3,3,0.3);
	padding-right:200px;
	padding-left:20px;
}

.carousel-indicators li
{
	height:15px;
	width:15px;
	border:1px solid #EEE;
}

.carousel-indicators .active
{
	height:17px;
	width:17px;
	background:#E41B17;
}
/*End overriding of bootratb */

/* start section toobox*/
.optoins-box
{
	
	position:fixed;
	top:50px;
	left:0;
	z-index:9999;
	
}

.optoins-box .color-options
{
	display:inline-block;
	background:#333; 
	color:#fff;
	padding:5px;
	width:200px;
	border:4px solid #E41B17;
	display:none;
	
}

.optoins-box .color-options ul li
{
	width:20px;
	height:20px;
	background:#F00;
	display:inline-block;
	margin-right:3px;
}
.optoins-box .gear-check
{
	padding:5px;
	background:#E41B17;
	color:#FFF;
	cursor:pointer;
}
/*End section toolbox */
/*strat Section About */
.about
{
	padding-top:60px;
	padding-bottom:60px;
}
.about h1
{
	font-weight:bold;
}
.about .lead
{
	color:#888;
	font-size:25px;
	margin-top:15px;
}
.about h1 span
{
	color:#E41B17;
}
/* End About */

/* start section feature */
.features
{
	background:#EEE;
	padding-top:20px;
	padding-bottom:50px;
	
	
}
.features .feat
{
	margin-bottom:30px;
}
.features .feat p
{
	line-height:2em;
}
.features h1
{
	margin-bottom:50px;
}

.features .feat span.glyphicon
{
	font-size:22px;
	margin-bottom:10px;
	color:#666;
}
/* end section feature */

/* start Testimonials section*/
.testimonials
{
	padding-top:50px;
	padding-bottom:50px;
}
.testimonials h1
{
	font-weight:bold;
	margin-bottom:20px;
}
.testimonials .lead
{
	line-height:2em;
	margin-bottom:10px;
}
.testimonials span
{
	font-size:18px;
	font-weight:bold;
	color:#E41B17;
}
.testimonials .carousel-inner
{
	min-height:130px;
	margin-bottom:0px;
}
.testimonials .carousel-indicators
{
	margin-top:-5px;
	position:static;
	width:100%;
	margin-left:auto;
	padding-top:10px;
}
.testimonials .carousel-indicators li
{
	text-indent:0px;
	width:80px;
	height:80px;
	opacity:0.5;
	overflow:hidden;
	margin:5px;
	.webkit-transition:all 0.5s ease;
	.moz-transition:all 0.5s ease;
	.o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	
}
.testimonials .carousel-indicators li.active
{
	width:80px;
	height:80px;
	opacity:1;
	background:none;
	border:2px solid #E41B17;
}
.testimonials .carousel-indicators li img
{
	max-width:100%;
}
/* End Testimonials section*/

/* start price table */
.price_table
{
	background:#EEE;
	padding-top:40px;
	padding-bottom:40px;
}
.price_table h1
{
	margin-bottom:40px;
}
.price_table .price_box
{
	background:#FFF;
	padding:10px;
	border:1px solid #DDD;
	margin-bottom:15px;
}

.price_table .price_box:hover p 
{
	-webkit-transform:scale(1.1,1.1)rotate(360deg);
	-moz-transform:scale(1.1,1.1)rotate(360deg);
	-o-transform:scale(1.1,1.1)rotate(360deg);
	transform:scale(1.1,1.1)rotate(360deg);
	border:2px solid #E41B17;
}
.price_table .price_box h3
{
	margin:5px 0 15px;
}
.price_table .price_box p
{
	font-size:35px;
	font-weight:bold;
	color:#666;
	width:100px;
	height:100px;
	background:#F3F3F3;
	border-radius:50%;
	line-height:100px;
	border:2px solid #FFF;
	.webkit-transition-duration:0.7s;
	.moz-transition-duration:0.7s;
	.o-transition-duration:0.7s;
	transition-duration:0.7s;
}
.price_table .price_box ul
{
	line-height:250%;
	font-size:18px;
}
.price_table .price_box a
{
	margin-bottom:3px;
}
/*End section price table */

/*Start section Our team */
.our_team
{
		background:url("../image/3.jpg") no-repeat center center fixed;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		min-height:600px;


}
.our_team .team
{
	color:#FFF;
	background:rgba(2,2,2,0.7);
	min-height:600px;
	padding-top:10px;
	padding-bottom:10px;
	margin:10px;
}
.our_team h1
{
	margin-bottom:60px;
}
.our_team .person
{
	margin-bottom:40px;
}
/*End section  Our team */

/*start section subscribe */
.subscribe
{
	margin-top:-4px;
	padding:30px;
	padding-bottom:70px;
	background:#EEE;
}
.subscribe h1
{
	color:#888;
	letter-spacing:2px;
	margin-bottom:20px;
}
.subscribe p
{
	margin-bottom:30px;
}
.subscribe .form-control
{
	border-radius:0;
	margin-right:-5px;
	width:300px;
}
.subscribe button
{
	border-radius:0;
}

/* End section subscribe*/
/*start section statistics*/
.statistics
{
	background:url("../image/3.jpg")no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	min-height:300px;
}
.statistics .data
{
	background-color:rgba(2,2,2,0.7);
	color:#B6B5B5;
	min-height:300px;
	padding-top:40px;
	padding-bottom:70px
}
.statistics h1
{
	margin-bottom:30px;
}
.statistics .stats
{
	.webkit-transition:all 0.5s ease-in-out;
	.moz-transition:all 0.5s ease-in-out;
	.o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	margin-bottom:30px;
}

.statistics .stats:hover
{
	color:#FFF;
}
.statistics p
{
	font-size:60px;
	font-weight:600;
	margin-bottom:0;
}
.statistics span
{
	font-size:18px;
}
/*End section statistics */

/*start section Our Skilss*/
.our-skills
{
	padding-top:40px;
	padding-bottom:70px;
}
.our-skills h1{margin-bottom:60px;}
.our-skills h3{font-weight:bold;margin-top:0;}
.our-skills .progress{height:36px;}
.our-skills .progress-bar
{
	line-height:36px;
	font-size:15px;
	font-weight:bold;
	text-align:left;
	text-indent:10px;
}
/*End section Our Skillss*/

/*start section contact us */
.contact-us
{
	background:url("../image/3.jpg")no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	min-height:300px;
}
.contact-us .field
{
	background:rgba(9,9,9,0.7);
	min-height:300px;
	color:#DDD;
	padding-top:40px;
	padding-bottom:40px;
	
}
.contact-us padding
{
	margin-bottom:40px;
}
.contact-us  textarea{height:108px;}
.contact-us input[type="text"],
.contact-us textarea
{
	background:rgba(82,78,78,0.7);
	color:#FFF;
	border:none;
}
/* End section contact us */
.our-clients
{
	background:#EEE;
	padding-top:20px;
	padding-bottom:10px;
}
.our-clients img
{
	opacity:0.5;
	filter:alpha(opacity=40);
	margin-top:10px;
	margin-bottom:10px;
   .webkit-transition:all 0.4s ease-in-out;
   .moz-transition:all 0.4s ease-in-out;
   .o-transition:all 0.4s ease-in-out;
   transition:all 0.4s ease-in-out;
}
.our-clients img:hover
{
	opacity:1;
}
/* start section our clienr */
.fotter
{
  background:#111;
  color:#AAA;
  padding-top:10px;
  
	
}
.fotter a {color:#AAA;}
.fotter a:hover 
{
color:red;
text-decoration:none;
}
.fotter h3
{
	color:#0895D1;
	letter-spacing:1px;
	margin:30px 0 20px;
}
.fotter .three-columns
{
	overflow:hidden;
}
.fotter .three-columns li
{
	width:33.33333%;
	float:left;
	padding:5px 0;
}
.fotter .social-list
{
	overflow:hidden;
	margin:20px 0 10px;
	
	
	
}
.fotter .social-list li
{
	float:left;
	margin-right:10px;
	opacity:0.7;
	filter:alpha(opacity=70); 
	.webkit-transition:all 0.4s ease-in-out;
   .moz-transition:all 0.4s ease-in-out;
   .o-transition:all 0.4s ease-in-out;
   transition:all 0.4s ease-in-out;
}
.fotter .social-list li:hover
{
	opacity:1
}
.col-lg-44
{ float: left; }
.fotter .img-thumbnail
{
	background:rgba(0,0,0,0.4);
	border:1px solid #444;
	margin-bottom:5px;
}
.fotter .copyright
{
	background:#333;
	color:#AAA;
	padding:15px 0;
	margin-top:30px;
	font-size:15px;
	
}

.fotter .copyright span a
{
	color:lightblue;
}
.fotter .copyright span a:hover
{
	color:yellow;
}
/* end section our client*/

/* Start media Query */
/* from 0 to  mobile  in smart phone and tablet  */
@media (max-width:767px)
{
	.navbar-inverse .navbar-nav > li > a
	{
		padding-top:10px;
		padding-bottom:10px;
	}
	
	.subscribe .form-control
	{
		margin:20px auto;
		width:400px;
	}
	
	.navbar-fixed-top .navbar-collapse, 
	.navbar-fixed-bottom .navbar-collapse
	{
		max-height:none;
	}
	
}
/* form small to medium*/
@media (min-width:768px) and (max-width:991px)
{
	/*h1
	{
		font-size:150px;
		color:#00F;
	}*/
}
/* medium secreen */
@media (min-width:992px) and (max-width:1199px)
{
	
}

/*large screen */
@media (min-width:1200px)
{
	
}

/* End media Query */

/*start section ToolBox*/
.optoins-box .color-options 
{
	margin-top:60px;
}
/*End section ToolBox */



/* start section scrollup */
#scroll-top
{
	width:50px;
	height:40px;
	color:#DDD;
	background:#272727;
	text-align:center;
	position:fixed;
	right:15px;
	bottom:10px;
	z-index:9999;
	display:none;
}

#scroll-top:hover
{
	background-color:#444;
}
/*End section scrollup*/